//http://stackoverflow.com/questions/15221434/can-i-merge-a-font-family-in-css-to-have-more-font-varians-via-font-face

/*
100    Extra Light or Ultra Light
200    Light or Thin
300    Book or Demi
400    Normal or Regular
500    Medium
600    Semibold, Demibold
700    Bold
800    Black, Extra Bold or Heavy
900    Extra Black, Fat, Poster or Ultra Black
*/

$font_dir: '../fonts/';

@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-Light.eot');
  src: url('#{$font_dir}apex/ApexNew-Light.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-Light.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-Light.svg') format('svg');
  font-weight:  100;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-LightItalic.eot');
  src: url('#{$font_dir}apex/ApexNew-LightItalic.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-LightItalic.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-LightItalic.svg') format('svg');
  font-weight:  100;
  font-style: italic;
}
@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-Thin.eot');
  src: url('#{$font_dir}apex/ApexNew-Thin.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-Thin.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-Thin.svg') format('svg');
  font-weight:  200;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-ThinItalic.eot');
  src: url('#{$font_dir}apex/ApexNew-ThinItalic.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-ThinItalic.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-ThinItalic.svg') format('svg');
  font-weight:  200;
  font-style: italic;
}
@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-Book.eot');
  src: url('#{$font_dir}apex/ApexNew-Book.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-Book.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-Book.svg') format('svg');
  font-weight:  300;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-BookItalic.eot');
  src: url('#{$font_dir}apex/ApexNew-BookItalic.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-BookItalic.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-BookItalic.svg') format('svg');
  font-weight:  300;
  font-style: italic;
}
@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-Book.eot');
  src: url('#{$font_dir}apex/ApexNew-Book.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-Book.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-Book.svg') format('svg');
  font-weight:  400;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-BookItalic.eot');
  src: url('#{$font_dir}apex/ApexNew-BookItalic.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-BookItalic.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-BookItalic.svg') format('svg');
  font-weight:  400;
  font-style: italic;
}
@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-Medium.eot');
  src: url('#{$font_dir}apex/ApexNew-Medium.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-Medium.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-Medium.svg') format('svg');
  font-weight:  500;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-MediumItalic.eot');
  src: url('#{$font_dir}apex/ApexNew-MediumItalic.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-MediumItalic.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-MediumItalic.svg') format('svg');
  font-weight:  500;
  font-style: italic;
}

@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-Bold.eot');
  src: url('#{$font_dir}apex/ApexNew-Bold.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-Bold.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-Bold.svg') format('svg');
  font-weight:  700;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-BoldItalic.eot');
  src: url('#{$font_dir}apex/ApexNew-BoldItalic.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-BoldItalic.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-BoldItalic.svg') format('svg');
  font-weight:  700;
  font-style: italic;
}
@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-Heavy.eot');
  src: url('#{$font_dir}apex/ApexNew-Heavy.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-Heavy.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-Heavy.svg') format('svg');
  font-weight:  800;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-HeavyItalic.eot');
  src: url('#{$font_dir}apex/ApexNew-HeavyItalic.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-HeavyItalic.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-HeavyItalic.svg') format('svg');
  font-weight:  800;
  font-style: italic;
}
@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-Ultra.eot');
  src: url('#{$font_dir}apex/ApexNew-Ultra.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-Ultra.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-Ultra.svg') format('svg');
  font-weight:  900;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNew';
  src: url('#{$font_dir}apex/ApexNew-UltraItalic.eot');
  src: url('#{$font_dir}apex/ApexNew-UltraItalic.woff') format('woff'), 
       url('#{$font_dir}apex/ApexNew-UltraItalic.ttf') format('truetype'), 
       url('#{$font_dir}apex/ApexNew-UltraItalic.svg') format('svg');
  font-weight:  900;
  font-style: italic;
}